*{
margin: 0px;
padding: 0px;	
}
h1 {
	font-family: Arial;
	
}
.hidden {
    display: none;
}
#container {
	margin-left: 300px;
	margin-top: 40px;
}
.positive {
	background-color: #d5e8d4;
}
.negative {
	background-color: #f7cecb; 
}
.selected {
	background-color: grey;
}
tr {
	font-size: 18px;
	font-weight: bold;
	height: 30px;
}
tr:last-child {
	height: 25px;
}
th {
	color: black;
	font-weight: normal;	
	background-color: #e0e0e0;
	height: 27px;
	background-image: url(img/table-img.jpg);
	background-size: 19px 27px;
	background-repeat: no-repeat;
}
p {
	margin-top: 10px;
	margin-bottom: 7px;
	margin-left: 23px;
	
}
table {
	border: solid black 1px;
	border-collapse: collapse;
	width: 440px;
	font-family: Arial;
}
th {
	border: solid black 1px;
}
td {
	padding-left: 5px;
}
td:nth-child(1) {
	width: 65px;
	border-right: solid black 1px;
}
td:nth-child(2) {
	 text-decoration: underline; 
}
.sumup {	
	font-size: 20px;
	font-weight: bold;
}
input {
	display: inline-block;
}
#right-panel {
	display: inline-block;
	
	vertical-align: 11px;
}
#add_button {
	display: inline-block;
	color: white;
	background-color: #008bfe;
	height: 37px;
	width: 120px;
	border-radius: 10px;
	border: 1px solid #787878;
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	
}
#sumupbutton {
	display: inline-block;
	color: white;
	background-color: #cccccc;
	height: 37px;
	width: 120px;
	border-color: #898989;
	border-radius: 10px;
	border: 1px solid #787878;
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;

}
#input_text {
	display: inline-block;
	height: 35px;
	width: 150px;
	border: 1px solid grey;
	font-size: 15px;
	color: #bcbcbc;
	margin-left: 7px;
	vertical-align: 2px;
}
#pointers {
	display: inline-block;
}
img {
	display: block;
	height: 17px;
	width: 20px;
	border: 1px solid #787878;
}
#input_number {
	vertical-align: 11px;
	text-align: center;
	display: inline-block;
	height: 30px;
	padding-top: 0px;
	width: 114px;
	border: none;
	font-size: 20px;
	
}
#input_form_pointers {	
	display: inline-block;
	margin-top: 10px;
	border: 1px solid #787878;
	border-radius: 12px;
	width: 140px;
	height: 37px;
	overflow: hidden;
	
}
#search {
	display: inline-block;
	color: white;
	background-color: #cccccc;
	height: 37px;
	width: 120px;
	border-color: #898989;
	border-radius: 10px;
	border: 1px solid #787878;
	font-size: 20px;
	font-weight: bold;
	
}
#text-to-find {
	height: 37px;
}
#deleteElem {
	display: inline-block;
	color: white;
	background-color: #008bfe;
	height: 37px;
	width: 190px;
	border-radius: 10px;
	border: 1px solid #787878;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	
	
}
